body {
  font-family: var(--font-main);
  /* font-size: var(--font-base-size); */
  line-height: 1.6;
  color: var(--primary-text);
  background-color: var(--primary-bg-color);
}

.flex-announcement {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border: 2px solid blue;
}

.flex-announcement-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 3rem;
  border: 2px solid blue;
}
