@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

/* Announcement Section  */
.announcement-section {
  width: 100%;
  background-color: var(--color-bg-secondary);
  color: var(--color-secondary);
  padding: var(--spacing-sm) 0;
  overflow: hidden;
}

.announcement-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 19.75rem;
  gap: 0 6rem;
  overflow: hidden;
}

.announcement-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0;
  gap: var(--spacing-sm);
  animation: announcement 14s infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  will-change: transform;
}

.announcement-dot {
  width: 0.875rem;
  height: 0.875rem;
  border: 2px solid var(--color-border);
  border-radius: 50%;
}

.announcement-text {
  font-size: 0.875rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
  line-height: 1.1rem;
  white-space: nowrap;
  color: var(--color-bg-primary);
}

@media (max-width: 768px) {
  .announcement-item {
    padding: 0;
  }

  .announcement-dot {
    width: 0.825rem;
    height: 0.825rem;
  }
  .announcement-text {
    font-size: 0.813rem;
  }
}

.announcement-list:hover .announcement-item {
  animation-play-state: paused;
}

@keyframes announcement {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-25.8rem, 0, 0);
  }
}

/* Header Section */

.header-wrapper {
  margin-top: 0.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-bg-primary);
  padding: 2rem auto;
}

.nav-bar {
  display: grid;
  grid-template-columns: 2.5fr 3fr 1fr 0.3fr 0.3fr 0.3fr;
}

.main-nav {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.cancel-bar {
  display: none;
}
.nav-group {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.nav-left > .nav-link > a {
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 0.875rem;
}

.menu-bar {
  display: none;
}

.header-logo {
  font-family: "Lilita One", sans-serif;
  font-style: normal;
  font-size: 2rem;
  white-space: nowrap;
  text-transform: uppercase;
}

.nav-link-cart-circle {
  width: 1.5rem;
  height: 1.5rem;
}

.cart-item-quantity {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  font-size: 0.625rem;
  overflow: hidden;
}

.header-search-popup > .nav-link > img {
  cursor: pointer;
}

.social-group-on-mobile {
  display: none;
}
@media (max-width: 748px) {
  .header-wrapper {
    margin-top: var(--spacing-md);
  }

  .nav-bar {
    grid-template-columns: 0.8fr 0.8fr 5fr 0.8fr 0.8fr;
    grid-auto-flow: dense;
    position: relative;
    z-index: 1;
  }

  .menu-bar {
    display: grid;
  }
  .menu-bar-icon {
    cursor: pointer;
  }

  .main-nav {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 0%;
    height: 100vh;
    top: 3rem;
    left: -10rem;
    background-color: var(--color-bg-primary);
    place-items: start;
    gap: var(--spacing-md);
    opacity: 0;
    pointer-events: none;
    transition: width 1s linear, left 1s linear, opacity 2s linear;
    will-change: width, opacity, left;
  }

  .menu-bar:hover ~ .main-nav {
    width: 60%;
    left: -1rem;
    opacity: 1;
  }

  .nav-left {
    display: grid;
    grid-auto-flow: row;
    gap: var(--spacing-md);
  }

  .nav-left > .nav-link {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .nav-left > .nav-link > a {
    width: 100%;
    padding: var(--spacing-md);
    text-align: center;
  }
  .cancel-bar {
    width: 100%;
    display: grid;
    justify-content: end;
    padding: 0.45rem;
  }

  .cancel-bar > img {
    cursor: pointer;
  }

  .social-group-on-mobile {
    display: grid;
    width: 80%;
    margin: 0 auto;
  }

  .social-group {
    display: none;
  }

  .header-search-popup {
    grid-column: 2;
    grid-row: 1;
  }

  .header-logo {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

/* Main  Section*/

.main-container {
  width: 100%;
  margin: 0 auto;
  margin-top: var(--spacing-lg);
}

/* Hero Section */
.hero {
  width: 80%;
  margin: 2rem auto;
}

.hero-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  font-size: clamp(2rem, 3vw + 1.6rem, 5rem);
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--color-primary);
  line-height: 7rem;
  gap: var(--spacing-md);
  padding: 3rem;
}

.image-wrapper > img,
.image-wrapper > a > img {
  object-fit: cover;
  border-radius: 0.5rem;
}

@media (max-width: 748px) {
  .main-container {
    margin-top: var(--spacing-md);
  }

  .hero {
    width: 95%;
  }

  .hero-content {
    width: 100%;
    font-size: clamp(2.813rem, 2rem, 3rem);
    line-height: 2.575rem;
    gap: 0.7rem;
  }

  .image-wrapper > img,
  .image-wrapper > a > img {
    width: 60px;
    height: 42px;
  }

  .hero-content > .image-wrapper:nth-last-of-type(2) > img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 481px) {
  .hero {
    width: 100%;
    margin: 3.3rem auto;
  }

  .hero-content {
    font-size: clamp(2.613rem, 2rem, 3rem);
    line-height: 2.575rem;
    padding: var(--spacing-md);
  }

  .hero-content > .image-wrapper:nth-last-of-type(2) > img {
    width: 55px;
    height: 55px;
  }
}

/* Featured Products */
.products-featured {
  width: 100%;
  display: grid;
  place-items: center;
  padding: var(--spacing-md);
  margin: 4rem auto;
}

.products-featured > .btn {
  background-color: transparent;
  border: none;
  font-size: 0.875rem;
  border-bottom: 1px solid var(--color-dark);
  margin-bottom: var(--spacing-lg);
  word-spacing: 0.1rem;
  color: var(--color-primary);
  padding: 0;
  font-family: var(--font-secondary);
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0.1rem;
}

.products-grid {
  width: 100%;
  padding: var(--spacing-lg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  place-items: center;
  gap: var(--spacing-lg);
}

.products-item {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: 0;
}
.products-item > figcaption {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.products-item > video {
  width: 100%;
  height: 100%;
}
.products-item > figcaption > .product-name {
  font-size: var(--text-base-size);
  font-family: var(--font-secondary);
  font-weight: bold;
  text-transform: capitalize;
}

.products-item > figcaption > .product-price {
  color: var(--color-secondary);
  line-height: 1.375rem;
  font-size: var(--text-base-size);
}

@media (max-width: 748px) {
  .products-featured {
    padding: 0rem;
    margin: 3rem auto;
  }

  .products-featured > .btn {
    margin-bottom: 0rem;
  }

  .products-grid {
    padding: var(--spacing-lg) var(--spacing-md);
    grid-template-columns: repeat(2, minmax(10.625rem, 1fr));
    gap: 1.5rem;
  }

  .products-item > figcaption > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .products-item > figcaption > .product-name {
    font-size: var(--text-base-size);
    padding: 0;
  }

  .products-item > figcaption > .product-price {
    line-height: 1.75rem;
  }
}

/* Herbal Tinctures Info */
.herbal-tinctures {
  width: 70%;
  display: grid;
  place-items: center;
  margin: 2rem auto;
}

.herbal-tinctures > h2 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: var(--text-base-size);
  padding: 0rem 1rem;
}
.herbal-tinctures > p {
  font-family: var(--font-primary);
  font-size: 2.813rem;
  text-align: center;
  padding: 0.1rem 0;
}

.herbal-tinctures > a {
  font-size: var(--text-base-size);
  font-weight: 500;
  margin: 1rem auto;
  padding: 0.2rem 0rem;
  border-bottom: 2px solid var(--color-secondary);
}

@media (max-width: 748px) {
  .herbal-tinctures {
    margin: 4rem auto;
    width: 90%;
  }

  .herbal-tinctures > h2 {
    font-size: 0.875rem;
    padding: 0rem 0.5rem;
  }
  .herbal-tinctures > p {
    font-size: 2rem;
  }

  .herbal-tinctures > a {
    margin: 0.7rem auto;
    padding: 0.1rem 0rem;
  }
}

/* Product Attributes  */
.product-attributes {
  width: 90%;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  margin: 3rem auto;
  row-gap: 3rem;
}

.product-attributes > .product-attribute {
  display: grid;
  place-items: center;
}

.product-attributes > .product-attribute > span {
  margin-top: var(--spacing-md);
  color: var(--color-primary);
  font-family: var(--font-secondary);
  text-transform: capitalize;
  font-size: 0.875rem;
  padding: 0.3rem;
}

@media (max-width: 1024px) {
  .product-attributes {
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
  }
}

@media (max-width: 748px) {
  .product-attributes {
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--spacing-lg);
  }

  .product-attribute > img {
    width: 5rem;
    height: 5rem;
  }
}

.showcase-video {
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
  padding: var(--spacing-md);
}

.background-video {
  width: 95%;
}

.background-video > video {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.showcase-content {
  width: 50%;

  position: absolute;
  z-index: 1;
  display: grid;
  place-items: center;
  padding: var(--spacing-md);
}

.showcase-content > h2 {
  font-size: 2.813rem;
  text-align: center;
  font-family: var(--font-primary);
  background-color: transparent;
  color: var(--color-bg-primary);
}

.showcase-content > button {
  margin-top: var(--spacing-md);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-bg-primary);
  padding-bottom: 0.2rem;
  color: var(--color-bg-primary);
  font-family: var(--font-secondary);
  font-size: 0.875rem;
  font-weight: 200;
}

@media (max-width: 1024px) {
  .showcase-video {
    padding: var(--spacing-md);
  }

  .background-video {
    width: 95%;
  }

  .showcase-content {
    width: 60%;
    padding: 0.5rem;
  }

  .showcase-content > h2 {
    font-size: 2rem;
  }
}

@media (max-width: 748px) {
  .showcase-video {
    padding: 0.5rem;
  }

  .background-video {
    width: 100%;
  }

  .showcase-content {
    width: 80%;
    padding: 0.5rem;
  }

  .showcase-content > h2 {
    font-size: 1.813rem;
  }
}

/* Herbal Support */

.herbal-support {
  width: 100%;
  width: 100%;
  margin: 2rem auto;
  margin-top: 4rem;
  display: grid;
  place-items: center;
}

.herbal-support > h2 {
  font-family: var(--font-primary);
  font-size: 2.813rem;
  font-weight: 400;
  text-align: center;
}

.support-card {
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--spacing-md);
  margin-top: var(--spacing-md);
  padding: 0;
}

.support-card-figure {
  flex-grow: 1;
  flex-shrink: 1;
  display: grid;
  place-items: center;
}

.support-card-figure > img {
  width: 100%;
  height: 100%;
}

.support-card-figure > figcaption {
  margin-top: var(--spacing-md);
}

.support-card-figure > figcaption > p {
  width: 100%;
  padding: 0.2rem 0.3rem;
  font-size: 0.875rem;
  text-align: center;
  color: var(--color-primary);
}

@media (max-width: 1024px) {
  .herbal-support {
    margin-top: 2.5rem;
  }

  .herbal-support > h2 {
    font-size: 2.213rem;
  }

  .support-card {
    width: 80%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-lg);
  }
}

@media (max-width: 748px) {
  .herbal-support {
    margin-top: 2.5rem;
    padding: var(--spacing-md);
  }

  .herbal-support > h2 {
    font-size: 1.713rem;
  }

  .support-card {
    width: 100%;
    gap: var(--spacing-md);
  }
}

/* Newsletter Sign-up */
.newsletter {
  width: 85%;
  margin: 4rem auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.sign-up-image {
  justify-self: end;
  aspect-ratio: 8/6;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsletter > .sign-up-form {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1.5rem 0;
  background-color: var(--color-accent);
}

.sign-up-form > h2 {
  width: 80%;
  padding: 0 var(--spacing-md);
  font-family: var(--font-primary);
  text-align: center;
  font-size: 3.125rem;
  font-weight: 400;
  margin-bottom: var(--spacing-md);
}

.sign-up-form > .form-group {
  width: 80%;
  display: grid;
  place-items: stretch;
  margin-bottom: 0.5rem;
}

.form-group > label {
  width: 70%;
  margin: 0 auto;
}
.form-group > label > input {
  width: 100%;
  padding: 0.6rem 0.5rem;
  font-size: var(--text-base-size);
  color: var(--color-primary);
  border: none;
  border-bottom: 2px solid var(--color-bg-secondary);
  background-color: transparent;
}

.form-group > label > input:focus {
  outline: none;
  border: 2px solid var(--color-bg-secondary);
}

.form-group > label > input::placeholder {
  font-size: var(--text-base-size);
  text-transform: capitalize;
  color: var(--color-primary);
}

.sign-up-form > button {
  width: 57%;
  background-color: var(--color-bg-secondary);
  padding: 0.7rem 0.5rem;
  color: var(--color-light);
  text-transform: uppercase;
  border: none;
  font-size: var(--text-base-size);
  margin: 0.6rem auto;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .newsletter {
    width: 85%;
    margin: 3rem auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .sign-up-form > h2 {
    font-size: 2.125rem;
    margin-bottom: 0.7rem;
  }

  .form-group > label > input {
    padding: 0.5rem 0.4rem;
    font-size: 0.875rem;
  }

  .form-group > label > input::placeholder {
    font-size: 0.875rem;
  }

  .sign-up-form > button {
    font-size: 0.875rem;
  }
}
@media (max-width: 748px) {
  .newsletter {
    width: 100%;
    padding: var(--spacing-md);
    grid-template-columns: 1fr;
    margin: 2rem auto;
  }

  .sign-up-image {
    aspect-ratio: 1/1;
  }

  .sign-up-form > h2 {
    width: 65%;
    font-size: 2rem;
    padding: 0 0.5rem;
  }

  .sign-up-form > .form-group {
    width: 80%;
    display: grid;
    place-items: stretch;
    margin-bottom: 0.5rem;
  }

  .form-group > label {
    width: 70%;
    margin: 0 auto;
  }
  .form-group > label > input {
    padding: 0.4rem 0.35rem;
    font-size: 0.875rem;
  }

  .form-group > label > input::placeholder {
    font-size: 0.875rem;
  }

  .sign-up-form > button {
    width: 57%;
    margin: 0.6rem auto;
  }
}

.footer-wrapper {
  width: 100%;
  padding: var(--spacing-md);
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
  align-items: start;
  background-color: var(--color-accent);
  gap: var(--spacing-md);
}

.subscription-form {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1.5rem 0;
}

.footer-content {
  padding: var(--spacing-md);
  font-family: var(--font-primary);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: var(--spacing-md);
}

.subscription-form > .form-group {
  width: 80%;
  display: grid;
  place-items: stretch;
  margin-bottom: 0.5rem;
}

.subscription-form > .form-group > label {
  width: 70%;
  margin: 0 auto;
}
.subscription-form > .form-group > label > input {
  width: 100%;
  padding: 0.6rem 0.5rem;
  font-size: var(--text-base-size);
  color: var(--color-primary);
  border: none;
  border-bottom: 2px solid var(--color-bg-secondary);
  background-color: transparent;
}

.subscription-form > .form-group > label > input:focus {
  outline: none;
  border: 2px solid var(--color-bg-secondary);
}

.subscription-form > .form-group > label > input::placeholder {
  font-size: var(--text-base-size);
  text-transform: capitalize;
  color: var(--color-primary);
}

.subscription-form > button {
  width: 57%;
  background-color: var(--color-bg-secondary);
  padding: 0.7rem 0.5rem;
  color: var(--color-light);
  text-transform: uppercase;
  border: none;
  font-size: var(--text-base-size);
  cursor: pointer;
  margin: 0.6rem auto;
}

.footer-social-group {
  width: 100%;
  display: grid;
  place-items: center;
  padding: var(--spacing-md);
}

.footer-social-group > span {
  justify-self: start;
  font-size: 1.7rem;
  padding: 0.2rem;
  font-family: var(--font-primary);
  text-indent: var(--spacing-lg);
  font-weight: 500;
}

.social-icons {
  display: flex;
  gap: var(--spacing-md);
  margin: 1rem auto;
}

.footer-block-information {
  display: grid;
}

.footer-block-information > span {
  font-size: 1.7rem;
  padding: 0.2rem;
  font-family: var(--font-primary);
  font-weight: 500;
  margin-left: var(--spacing-md);
}

.footer-block-information > ul {
  display: grid;
  place-items: start;
  padding: var(--spacing-md);
}

.footer-block-information > ul > li {
  padding: 0.4rem 0.3rem;
}
.footer-block-information > ul > li > a {
  font-size: var(--text-base-size);
  text-transform: capitalize;
  font-family: var(--font-secondary);
}

.footer-block-image {
  width: 100%;
  padding: var(--spacing-md);
  display: grid;
  place-items: center;
}

@media (max-width: 1024px) {
  .footer-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    gap: var(--spacing-md);
  }

  .footer-social-group > span {
    justify-self: center;
    text-indent: -0rem;
    transform: translateX(-3rem);
  }
}

@media (max-width: 748px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    gap: var(--spacing-lg);
  }

  .footer-content {
    padding: 0.6rem;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .subscription-form > .form-group {
    width: 100%;
  }

  .subscription-form > .form-group > label {
    width: 90%;
  }
  .subscription-form > .form-group > label > input {
    padding: 0.4rem 0.35rem;
    font-size: 0.875rem;
  }

  .subscription-form > .form-group > label > input::placeholder {
    font-size: 0.875rem;
  }

  .subscription-form > button {
    width: 90%;
    font-size: 0.875rem;
    margin: 0.5rem auto;
  }

  .footer-social-group {
    place-items: start;
  }

  .footer-social-group > span {
    justify-self: start;
    text-indent: 0rem;
    transform: translateX(0rem);
  }
  .social-icons {
    margin: 1rem 0;
  }
}
